{% extends "base.html"%} 
{% block banner %} 
{%load wagtailimages_tags%} 
{%image page.service_bg_image format-webp fill-1600x500 as bgimg %}
<div style="padding: 30px;padding-bottom:30px; background-image: url({{bgimg.url}}); background-size: cover; background-position: center;">
{%endblock%} 
{% block content %}
<div class="row mb-3" style="align-items:center !important;">
  <style>
    @media (min-width: 768px) {
      .row {
        align-items:left;
      }
    }
  </style>
  
  <div class="col-lg-6 order-2 order-lg-1" id="des" style="padding-left:0px;padding-right:0px;">
    <h1 class="cc-inner-title" style="font-size:40px;text-align:center;">
      <style>
        @media (min-width: 768px) {
          .cc-inner-title {
            text-align: left !important;
            font-size:62px !important;
          }
        }
      </style>
      {{page.title}}
    </h1>
    <p class="cc-inner-subtitle cc-service-subtitle" style="text-align: center; font-size:18px; margin-left:0;">
      <style>
        @media (min-width: 768px) {
          .cc-service-subtitle {
            text-align: left !important;
            font-size:24px !important;
          }
        }
      </style>
      {{page.description}}
    </p>
    {% if page.internal_page or page.external_page %}
    <div class="col-lg-4 text-lg-right text-center">
    <a href="{%if page.interenal_page %}{{page.internal_page.url}}{% elif page.external_page%}{{page.external_page}}#{%else%}{%endif%}"
    class="btn btn-primary btn-lg mb-2 mb-lg-0 " style="font-size:15px; width:214px">
    {{page.button_text}}
  </a>
  </div>
    {% endif %}
  </div>

  <div class="col-lg-6 order-1 order-lg-2" id="img">
    <picture>
      {%image page.service_image format-webp fill-573x369 as img %}
      <img class="view" src="{{img.url}}" alt="Img not loaded {{img.alt}}" 
        style="width: 100%; height: auto; margin-bottom:20px; border-radius: 30% 70% 24% 76% / 65% 28% 72% 35%; -webkit-box-shadow: 30px 25px 30px 0px rgba(136, 32, 156, 0.29); -moz-box-shadow: 30px 25px 30px 0px rgba(136, 32, 156, 0.29); box-shadow: 30px 25px 30px 0px rgba(136, 32, 156, 0.29);">
      <style>
        @media (min-width: 768px) {
          img.view {
            /* Any additional styles for larger screens */
          }
        }
      </style>
    </picture>
  </div>
</div>
</div>
{%endblock%}  