{% load wagtailimages_tags %}
{% load static %}

<div class="row justify-content-center" style="margin-top: 100px">
    {%for card in self.cards %}

<div
  class="col-md-6 d-flex align-items-center {%if not forloop.first%} mt-4 mt-md-0 {%endif%}"
>
  <div class="card mb-3 text-center" id="blockcontainer">
    <div id="blockcard">
      <div id="blockimage">
        {%if card.link.url%}<a href="{{card.link.url}}"
          >{%endif%}
          <picture>
            {%image card.image fill-570x370 as img%}
            <img src="{{img.url}}" alt="{{img.url}}" class="card-img-top" />
          </picture>
          {%if card.link.url%}</a
        >{%endif%}
      </div>
      <div id="blockcontent">
        {%if card.link.url%}<a href="{{card.link.url}}"
          >{%endif%}
          <h5 class="card-title">{{card.title}}</h5>
          {%if card.text%}
          <p class="card-text">{{card.text}}</p>
          {%endif%} {%if card.link.url%}</a
        >{%endif%}
        <p class="card-text">
          {%if card.link.url%}
          <a href="{{card.link.url}}" class="btn btn-link d-inline">
            {{card.link.link_text}}
          </a>
          {%endif%}
        </p>
      </div>
    </div>
  </div>
</div>
    {%endfor%}
</div>



